In [7]:
import cv2
import os
import pandas as pd
import numpy as np

CREATING LETTER DATASET CSV

In [8]:
df = pd.read_csv('DATA\\emnist-balanced.csv')
df.head()

,41,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.523,0.524,0.525,0.526,0.527,0.528,0.529,0.530,0.531,0.532
0,39,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,26,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,44,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,33,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
for i in range(10):
     df = df[df['41'] != i]
list = [11,13,15,16,18,19,20,21,22,24,26,31,36,39,40,41,42,45]
for i in list:
     df = df[df['41'] != i]

In [10]:
len(df['41'].unique())

19

In [11]:
label = df['41']
df.drop(['41'], axis=1, inplace=True)
df = 255-df
df = pd.concat([label,df], axis=1)

In [12]:
df.to_csv("DATA\\letter-dataset.csv",index=False, header=None)

CREATING EMOJI DATASET CSV

In [13]:
images = []
for num,i in enumerate(os.listdir('DATA\\Emoji Augmented')):
    print(num,i)
    s = 'DATA\\Emoji Augmented\\'
    s += i
    for _,j in enumerate(os.listdir(s)):
        path = s+'\\'+j
        image = []
        img = cv2.imread(path, 0)
        img = np.ravel(img)
        label = 62+num
        img = np.insert(img, 0, label, axis=0)
#         print(img)
        images.append(img)

0 checkmark
1 cloud
2 croissant
3 heart
4 laugh
5 smile
6 sun

In [14]:
images = np.array(images)
df = pd.DataFrame(images)
# save the dataframe as a csv file
df.to_csv("DATA\\emoji-dataset.csv",index=False, header=None)

In [15]:
data = data2 = ""

with open("DATA\\letter-dataset.csv") as fp:
    data = fp.read()
  
with open("DATA\\emoji-dataset.csv") as fp:
    data2 = fp.read()

data += "\n"
data += data2
  
with open ('DATA\\combined-dataset.csv', 'w') as fp:
    fp.write(data)